body {
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

header {
margin-top: 60px;
}

h1 {
    color: white;
}

.titreBillet {
    margin-bottom : 0px;
}



#global {
    min-height: 100%;  /* Voir commentaire sur html et body plus haut */
    background-color: #c7ccca;
    width: 100%;
    margin: auto;	/* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

#titreBlog, #piedBlog {
    text-align: center;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 50%;
}

.image{
    width: 75px;
    height: 100px;
}

.image-2{
    background-image: none;
    width: 450px;
    height: 600px;
}

.bg-nav{

    background-color: aqua;
}

.image3{
    width: 75px;
    height: 75px;
}
